@import "_variables";
img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

html {
    background: $bg-color;
}

.has-topbar {
    padding-top: $top-nav-height;
}

.has-footbar {
    padding-bottom: $top-nav-height;
}

//extend
.common-open {
    border: 1px solid $theme-border-color;
    color: $theme-link-color;
    line-height: 22px;
    padding: 0 12px;
    border-radius: 30px;
    font-size: 12px;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    &:active {
        background: $theme-link-color;
        border-color: $theme-link-color;
        color: #fff;
    }
}

//common-tabs
.common-tabs {
    display: flex;
    margin: 0 10px;
    border-radius: $border-radius;
    border: 1px solid $index-tabs-bgcolor;
    background: #fff;
    li {
        flex: 1;
        -webkit-box-flex: 1;
        a {
            display: block;
            line-height: 30px;
            text-align: center;
            color: $index-tabs-bgcolor;
            text-decoration: none;
            &.active {
                background: $index-tabs-bgcolor;
                color: #fff;
            }
        }
        &:first-child {
            a {
                &.active {
                    border-radius: 4px 0 0 4px;
                }
            }
        }
        &:last-child {
            a {
                &.active {
                    border-radius: 0 4px 4px 0;
                }
            }
        }
    }
}

//线条tabs
.common-line-tabs {
    display: flex;
    background: $top-nav-bgcolor;
    li {
        flex: 1;
        -webkit-box-flex: 1;
        text-align: center;
        a {
            display: inline-block;
            padding: 0 20%;
            line-height: 38px;
            height: 38px;
            text-align: center;
            color: #fff;
            text-decoration: none;
            &::after {
                width: 0;
                left: 50%;
                transition: all 0.15s ease-in-out;
            }
            &.active {
                position: relative;
                &::after {
                    width: 100%;
                    left: 0;
                    display: inline-block;
                    content: "";
                    height: 3px;
                    background: darken($color: $index-tabs-bgcolor, $amount: 10%);
                    border-radius: 4px;
                    position: absolute;
                    bottom: 0;
                }
            }
        }
    }
    &.specal {
        li {
            a {
                &.active {
                    &::after {
                        bottom: -5px;
                    }
                }
            }
        }
    }
}

//common-top-nav
.common-top-nav {
    position: relative;
    padding: 0 45px;
    height: $top-nav-height;
    background: $top-nav-bgcolor;
    .nav-left {
        position: absolute;
        left: 0;
        top: 0;
    }
    .nav-right {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav-title {
        text-align: center;
        color: #fff;
        line-height: $top-nav-height;
        font-size: 18px;
    }
    .link {
        display: block;
    }
    .icon {
        margin-top: 5px;
        display: inline-block;
        width: $top-nav-icon-width;
        height: $top-nav-icon-width;
        &.back {
            background: url(../images/icon/back_white.png) no-repeat center;
            background-size: auto 50%;
        }
        &.search {
            background: url(../images/icon/search_white.png) no-repeat center;
            background-size: auto 50%;
        }
        &.setting {
            background: url(../images/icon/setting_white.png) no-repeat center;
            background-size: auto 50%;
        }
    }
}

//loading
.common-loading {
    text-align: center;
    color: #888;
    padding: 5px 0 10px;
    font-size: 14px;
    .icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        background: url(../images/loading.gif) no-repeat;
        background-size: 100%;
        vertical-align: middle;
        margin-right: 10px;
        opacity: 0.8;
    }
}

//底部菜单
.common-footbar {
    height: $foot-bar-height;
    border-top: 1px solid #ededed;
    background: #fff;
    z-index: 5;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    .foot-list {
        height: $foot-bar-height;
        li {
            width: 20%;
            float: left;
            text-align: center;
            font-size: 14px;
            a {
                color: #666;
                display: block;
                text-decoration: none;
                line-height: $foot-bar-height;
            }
            &.special {
                position: relative;
                .img {
                    width: 55px;
                    height: 55px;
                    border-radius: 50%;
                    position: absolute;
                    left: 50%;
                    top: -15px;
                    transform: translate(-50%, 0)
                }
            }
        }
    }
}

//游戏列表
.common-game-list {
    background: #fff;
    margin: 10px 0;
    padding-top: 10px;
    li {
        list-style: none;
        position: relative;
        padding: 5px 80px 0 80px;
        border-bottom: 1px solid #ededed;
        height: 65px;
        margin-bottom: 10px;
        .img {
            position: absolute;
            left: 10px;
            top: 0;
            width: 60px;
            height: 60px;
        }
        .name {
            margin: 0;
            font-size: 14px;
            height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $game-name-color;
            .hot {
                display: inline-block;
                width: 15px;
                height: 15px;
                background: url(../images/icon/icon_hot.png) no-repeat center;
                background-size: auto 100%;
            }
        }
        .desc {
            margin: 0;
            font-size: 12px;
            color: $game-desc-color;
            height: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .hot {
            margin: 0;
            font-size: 12px;
            .num {
                color: $theme-link-color;
            }
        }
        .open {
            position: absolute;
            right: 10px;
            top: 20%;
            @extend .common-open;
            &.cover {
                color: #fff;
                background: $top-nav-bgcolor;
                border-color: $top-nav-bgcolor;
            }
        }
        &:last-child {
            border: none;
        }
    }
}

//首页最近在玩游戏弹窗
.common-index-modal {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 40%;
    width: 40px;
    height: 60px;
    .j-index-menu {
        opacity: 1;
        &.hidden {
            display: none;
            opacity: 0;
        }
    }
    .c-btn {
        background: $theme-link-color;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        position: absolute;
        z-index: 5;
        right: 2px;
        top: 1px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
        .t {
            position: absolute;
            right: 10px;
            top: 15px;
            color: #fff;
            line-height: 1.2;
            font-size: 12px;
        }
    }
    .circle-out {
        background: #000;
        width: 340px;
        height: 340px;
        border-radius: 50%;
        position: absolute;
        left: -170px;
        top: -135px;
        opacity: 0.65;
        .circle-in {
            background: #fff;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            position: absolute;
            z-index: 2;
            right: 100px;
            top: 105px;
        }
    }
    .inner-box {
        .link {
            z-index: 3;
            position: absolute;
            width: 50px;
            &.a1 {
                left: 10px;
                top: -110px;
            }
            &.a2 {
                left: 75px;
                top: -75px;
            }
            &.a3 {
                left: 105px;
                top: 0;
            }
            &.a4 {
                left: 75px;
                bottom: -80px;
            }
            &.a5 {
                left: 10px;
                bottom: -135px;
            }
        }
        .pic {
            width: 45px;
            height: 45px;
            border-radius: 10px;
        }
        .txt {
            color: #fff;
            font-size: 12px;
            width: 50px;
            height: 16px;
            line-height: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
        }
    }
}

//首页右下角弹窗
.common-right-fixed {
    z-index: 9;
    position: fixed;
    right: 15px;
    bottom: 15%;
    .img {
        width: 100px;
    }
    .close {
        z-index: 2;
        position: absolute;
        right: -15px;
        top: -20px;
        display: inline-block;
        width: 40px;
        height: 40px;
        background: url(../images/close_circle.png) no-repeat center;
        background-size: 60%;
    }
}

//充值弹窗
.common-dialog-recharge {
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $bg-color;
    display: none;
}