@charset "utf-8";

/*
顶部广告定位
*/

.han-position-top {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    padding: 0 20px 0 65px;
    color: #fff;
    .t-bg {
        z-index: -1;
        background: #000 url(../images/bg_top.png) repeat-x;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        opacity: 0.65;
    }
    .t-img {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        position: absolute;
        left: 5px;
        top: 5px;
    }
    .t-title {
        font-size: 14px;
        line-height: 1.5;
        padding: 3px 0 0;
    }
    .t-list {
        margin: 0;
        padding: 0;
        li {
            line-height: 1.3;
            list-style: none;
            font-size: 12px;
            label {
                display: inline-block;
                margin-right: 10px;
            }
            .star {
                display: inline-block;
                height: 15px;
                background: url(../images/star.png) repeat-x;
                background-size: auto 15px;
                vertical-align: middle;
                &.s1 {
                    width: 15px;
                }
                &.s2 {
                    width: 30px;
                }
                &.s3 {
                    width: 45px;
                }
                &.s4 {
                    width: 60px;
                }
                &.s5 {
                    width: 75px;
                }
            }
        }
    }
    //右侧按钮
    .t-btn {
        position: absolute;
        right: 30px;
        bottom: 10px;
        display: block;
        width: 90px;
        height: 30px;
        background: url(../images/btn_down.png) no-repeat;
        background-size: auto 100%;
        border: none;
    }
    //右上角关闭
    .t-close {
        position: absolute;
        right: 0;
        top: 0;
        background: #fff url(../images/close.png) no-repeat 8px 30%;
        background-size: 70%;
        border-radius: 0 0 0 50px;
        display: inline-block;
        width: 25px;
        height: 25px;
        text-indent: -99999px;
    }
}


/*
风险提示
*/

.han-danger-message {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}


/*
登录注册表单
*/

.han-login-form {
    .big-title {
        text-align: center;
        margin: 10px 0;
    }
    .sub-title {
        text-align: center;
        margin: 10px 0;
        color: #888;
    }
    .h-form {
        list-style: none;
        margin: 20px 0 0;
        padding: 0;
        li {
            margin-bottom: 20px;
            .inp {
                font-size: 14px;
                outline: none;
                line-height: 25px;
                border: none;
                border-bottom: 1px solid #ededed;
                width: 100%;
                box-sizing: border-box;
                padding-left: 30px;
                @each $name in user,
                mobile,
                password,
                mail {
                    &.#{$name} {
                        background: url(../images/login/#{$name}.png) no-repeat 0 center;
                        background-size: auto 16px;
                    }
                }
            }
            &.special {
                position: relative;
                .get-code {
                    outline: none;
                    position: absolute;
                    right: 0;
                    bottom: 5px;
                    border: 1px solid $theme-color;
                    color: $theme-color;
                    background: #fff;
                    border-radius: 30px;
                    line-height: 24px;
                    font-size: 12px;
                    padding: 0 10px;
                    &[disabled] {
                        border-color: #ddd;
                        color: #ccc;
                    }
                }
            }
        }
    }
    .f-foot {
        font-size: 14px;
        padding: 10px 0;
        a {
            margin-bottom: 0;
            &.gray {
                color: #888;
            }
        }
    }
    .f-agreement {
        font-size: 12px;
        margin: 10px 0;
        .blue {
            color: $theme-color;
        }
    }
}


/*
第三方登录
*/

.han-third-login {
    .third-title {
        text-align: center;
        font-size: 14px;
        color: #666;
        margin-bottom: 15px;
    }
    .third-list {
        display: flex;
        width: 160px;
        margin: 0 auto;
        li {
            list-style: none;
            flex: 1;
            -webkit-box-flex: 1;
            .icon {
                display: inline-block;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                @each $name,
                $color in (qq, #499afc),
                (wechat, #50c332),
                (weibo, #e6162d) {
                    &.#{$name} {
                        background: #{$color} url(../images/login/#{$name}.png) no-repeat center;
                        background-size: 50%;
                    }
                }
            }
        }
    }
}


/*
右侧抽屉
*/

.han-side-bar-wrap {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    z-index: 990;
    width: 100vw;
    touch-action: none;
    overflow: hidden;
    transition: all 0.25s ease-in-out;
    opacity: 1;
    &.hidden {
        opacity: 0;
        left: -5000px;
        .new-side-right {
            position: relative;
        }
    }
    .side-bar-inner {
        box-sizing: border-box;
        background: #fff;
        padding: 0 $side-right-width 0 0;
        position: absolute;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        width: 100%;
        -webkit-overflow-scrolling: touch;
    }
    .js-fixed-top {
        &.fixed {
            background: #fff;
            z-index: 2;
            position: fixed;
            right: $side-right-width;
            left: 0;
            top: 0;
        }
    }
    .uk-alert {
        margin-top: 0;
        margin-bottom: 0;
        padding: 8px 29px 8px 15px;
        .uk-button-small {
            padding: 0 8px;
            line-height: 24px;
            font-size: 12px;
        }
        .uk-alert-close {
            top: 15px;
        }
    }
    .side-header {
        position: relative;
        background: #f5f7f9;
        padding: 35px 0 0 90px;
        min-height: 60px;
        .avatar {
            position: absolute;
            left: 10px;
            top: 20px;
            width: 65px;
            height: 65px;
            border-radius: 50%;
        }
        .name {
            margin: 0;
            font-size: 14px;
        }
        .desc {
            margin: 0;
            font-size: 12px;
        }
        .mobile {
            position: absolute;
            right: 10px;
            top: 40%;
            display: block;
            width: 35px;
            height: 35px;
            background: url(../images/mobile_normal.png) no-repeat;
            background-size: auto 100%;
            &.active {
                background: url(../images/mobile_bind.png) no-repeat;
                background-size: auto 100%;
            }
        }
        .home {
            position: absolute;
            right: 10px;
            top: 40%;
            display: inline-block;
            vertical-align: middle;
            line-height: 26px;
            padding: 0 10px;
            border-radius: 6px;
            background: #f56c6c;
            color: #fff;
            font-size: 14px;
            .icon {
                vertical-align: middle;
                display: inline-block;
                width: 20px;
                height: 20px;
                background: url(../images/login/home.png) no-repeat center 0;
                background-size: 80%;
            }
        }
    }
    //公共标题
    .side-hot-tilte {
        font-size: 16px;
        font-weight: bold;
        text-indent: 10px;
        line-height: 25px;
        margin: 10px 0;
        position: relative;
        &::before {
            content: "";
            display: block;
            width: 2px;
            height: 100%;
            background: $theme-color;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    //热门游戏
    .side-hot-game {
        .hot-list {
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                position: relative;
                padding: 5px 80px 0 70px;
                border-bottom: 1px solid #ededed;
                min-height: 55px;
                margin-bottom: 10px;
                .img {
                    position: absolute;
                    left: 10px;
                    top: 0;
                    width: 50px;
                    height: 50px;
                }
                .name {
                    margin: 0;
                    font-size: 14px;
                    height: 20px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .desc {
                    margin: 0;
                    font-size: 12px;
                    color: #999;
                    height: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                .open {
                    border: 1px solid $theme-color;
                    line-height: 20px;
                    border-radius: 20px;
                    width: 60px;
                    display: inline-block;
                    text-align: center;
                    color: $theme-color;
                    font-size: 12px;
                    position: absolute;
                    right: 10px;
                    top: 20%;
                }
            }
        }
    }
    //最近在玩
    .side-history-game {
        .name {
            text-align: center;
            margin: 0;
            color: #333;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .btn {
            width: 28px;
            height: 28px;
            text-align: center;
            padding: 0;
            background: rgba($color: #000, $alpha: 0.65);
            border-radius: 50%;
            svg {
                margin-top: 7px;
                height: 50%;
            }
        }
        .scroll-inner {
            // padding: 0 35px 0 0;
            // position: relative;
            width: 105%;
        }
    }
    //最右侧
    .new-side-right {
        z-index: 5;
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        background: #000;
        width: $side-right-width;
        color: #fff;
        .s-inner {
            display: flex;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
        .link {
            display: block;
            text-align: center;
            font-size: 12px;
            width: $side-right-width;
            margin-bottom: 20px;
            color: #fff;
        }
        .icon {
            display: inline-block;
            width: 35px;
            height: 35px;
            @each $name,
            $color in (hider, #ff454a),
            (quit, #f86740),
            (refresh, #23d159),
            (service, #4184ef),
            (switch, #08b8c3) {
                &.#{$name} {
                    background: #{$color} url(../images/side/#{$name}.png) no-repeat center;
                    background-size: 65%;
                    border-radius: 50%;
                }
            }
            &.back {
                background: url(../images/side/back.png) no-repeat;
                background-size: 100%;
            }
        }
    }
}


/*
微信客服弹窗
*/

.han-weixin-modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1010;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: rgba(0, 0, 0, 0.85);
    opacity: 1;
    transition: opacity 0.15s linear;
    &.open {
        display: block;
    }
    .weixin-body {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .ercode {
            background: #fff;
            width: 180px;
            height: 180px;
            padding: 10px;
        }
        .close {
            cursor: pointer;
            position: absolute;
            right: 0;
            top: -50px;
            display: inline-block;
            width: 60px;
            height: 60px;
            background: url(../images/icon_close_white.png) no-repeat center;
            background-size: 60%;
        }
    }
}


/*
------------------------
首页
------------------------
*/

.han-page-index-wrap {
    //top导航
    .index-top-nav {
        line-height: $top-nav-height;
        height: $top-nav-height;
        background: $top-nav-bgcolor;
        padding: 0 $top-nav-right-width 0 $top-nav-left-width;
        z-index: 5;
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        .input-box {
            padding-top: 10px;
            .input {
                display: block;
                line-height: 35px;
                height: 35px;
                background: #fff;
                border-radius: 20px;
                width: 100%;
                font-size: 14px;
                color: #ccc;
                .icon {
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    background: url(../images/icon/search.png) no-repeat 0 0;
                    background-size: auto 90%;
                    vertical-align: middle;
                    margin: 0 0 0 10px;
                }
            }
        }
        .nav-left {
            position: absolute;
            left: 0;
            top: 0;
            text-align: center;
            width: $top-nav-left-width;
            line-height: $top-nav-height;
            a {
                display: block;
            }
            .avatar {
                width: 38px;
                height: 38px;
                border-radius: 50%;
            }
        }
        .nav-right {
            position: absolute;
            right: 0;
            top: 0;
            text-align: center;
            width: $top-nav-right-width;
            padding-top: 10px;
            height: $top-nav-height - 10;
            .icon {
                display: inline-block;
                width: 30px;
                height: 30px;
                @each $var in mobile,
                download,
                ercode {
                    &.#{$var} {
                        background: url(../images/icon/#{$var}.png) no-repeat center;
                        background-size: auto 75%;
                    }
                }
            }
        }
    }
    //banner
    .index-banner-box {
        background: #fff;
        border-radius: $border-radius;
        min-height: 100px;
        margin: 10px;
        padding: 10px 10px 0;
        .uk-margin {
            margin: 0;
        }
        *+.uk-margin {
            margin-top: 0!important;
        }
        .banner-img {
            border-radius: $border-radius + 9;
            margin-bottom: 10px;
        }
        .banner-foot {
            height: 50px;
            padding: 0 80px 0 50px;
            position: relative;
            color: #333;
            .avatar {
                width: 40px;
                height: 40px;
                position: absolute;
                left: 0;
                top: 0;
            }
            .name {
                font-size: 14px;
                color: $game-name-color;
            }
            .desc {
                font-size: 12px;
                height: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                color: $game-desc-color;
            }
            .open {
                position: absolute;
                right: 0;
                top: 20%;
                @extend .common-open;
            }
        }
        .uk-slider-nav {
            z-index: 3;
            position: absolute;
            left: 0;
            right: 0;
            top: 50%;
        }
    }
    //首页公共title
    .index-title {
        position: relative;
        height: 20px;
        margin: 5px 0 15px;
        .i-line {
            display: inline-block;
            width: 30vw;
            height: 1px;
            background: $top-nav-bgcolor;
            position: absolute;
            left: 50%;
            top: 15px;
            transform: translate(-50%, 0)
        }
        .i-text {
            background: $bg-color;
            padding: 0 15px;
            z-index: 2;
            position: absolute;
            left: 50%;
            top: 3px;
            transform: translate(-50%, 0);
            font-size: 16px;
        }
        .more {
            display: inline-block;
            width: 25px;
            height: 25px;
            background: url(../images/icon/arr_right.png) no-repeat;
            background-size: 100%;
            position: absolute;
            right: 10px;
            top: 2px;
        }
    }
    //最新
    .index-scroll-new {
        overflow: hidden;
        .new-inner {
            width: 110%;
        }
        .slide-item {
            padding: 0 5px;
            .uk-panel {
                position: relative;
                padding: 0 0 10px;
                img {
                    border-radius: 8px;
                    width: 60px;
                    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.35);
                    margin-bottom: 3px;
                }
                &::before {
                    content: "";
                    background: #fff;
                    border-radius: 10px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
                    width: 100%;
                    height: 93px;
                    z-index: -1;
                    position: absolute;
                    left: 0;
                    top: 20px;
                }
            }
        }
        .name {
            text-align: center;
            margin: 0;
            color: $game-desc-color;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .open {
            display: inline-block;
            @extend .common-open;
        }
    }
    //热门
    .index-scroll-hot {
        margin: 0 10px;
        background: #fff;
        padding: 10px 5px;
        border-radius: $border-radius;
        .top-grid {
            margin-bottom: 15px;
            &>* {
                padding-left: 0;
            }
            .inner {
                padding: 0 5px;
                img {
                    border-radius: $border-radius;
                }
            }
        }
        .uk-grid>* {
            padding-left: 5px;
            padding-right: 5px;
            .uk-panel {
                img {
                    width: 85%;
                }
            }
        }
        .name {
            text-align: center;
            margin: 0;
            color: $game-desc-color;
            font-size: 12px;
            height: 20px;
            line-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    //全部
    .index-scroll-all {
        margin: 0 10px;
    }
}


/*
------------------------
游戏
------------------------
*/

.han-page-game-wrap {
    .game-top-fixed {
        height: $game-nav-height;
        z-index: 3;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        overflow: hidden;
    }
    &.has-topbar {
        padding-top: $game-nav-height;
    }
    .common-top-nav {
        .inner {
            padding: 12px 10% 0;
        }
    }
    .game-box {
        .top-grid {
            background: #fff;
            margin-top: 10px;
            padding: 10px 10px 10px 0;
            .inner {
                .img {
                    width: 100%;
                    height: 100px;
                    border-radius: $border-radius;
                }
                .foot {
                    font-size: 12px;
                    padding-top: 8px;
                    .left {
                        float: left;
                        &.name {
                            color: $theme-link-color;
                        }
                    }
                    .right {
                        float: right;
                    }
                }
            }
        }
        .full-banner {
            margin: 10px 10px 0;
        }
        .common-game-list {
            padding: 10px 10px 0;
        }
    }
    //左侧分类
    .game-side-bar {
        position: fixed;
        left: 0;
        top: $game-nav-height;
        bottom: 0;
        width: $game-side-width;
        background: #fff;
        border-right: 1px solid #ddd;
        .side-list {
            li {
                a {
                    display: block;
                    line-height: 45px;
                    font-size: 14px;
                    color: #333;
                    text-align: center;
                    text-decoration: none;
                    &.active {
                        color: $top-nav-bgcolor;
                    }
                }
            }
        }
    }
    //右侧
    .game-category-box {
        padding: 0 0 0 $game-side-width;
        position: relative;
        .game-cate-inner {
            padding: 10px;
            .g-title {
                font-size: 16px;
                margin-bottom: 5px;
                font-weight: bold;
                color: #666;
            }
            .common-game-list {
                margin: 0 0 10px;
                padding: 0;
                li {
                    padding: 5px 80px 0 70px;
                    .img {
                        position: absolute;
                        left: 10px;
                        top: 0;
                        width: 50px;
                        height: 50px;
                    }
                    &.special {
                        height: auto;
                        padding: 0;
                        .foot {
                            position: relative;
                            padding: 5px 10px 8px;
                            .txt {
                                font-size: 14px;
                            }
                            .down {
                                position: absolute;
                                right: 10px;
                                top: 5px;
                                @extend .common-open;
                                color: #fff;
                                background: $top-nav-bgcolor;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }
        }
        *+dl {
            margin-top: 0;
        }
        .game-list {
            margin-bottom: 0;
            dt {
                font-size: 16px;
                margin-bottom: 5px;
                margin-top: 10px;
            }
            dd {
                width: 25%;
                float: left;
                text-align: center;
                margin-bottom: 10px;
                a {
                    color: #666;
                    display: block;
                    padding: 0 5px;
                }
                .img {
                    max-width: 100%;
                }
                .tit {
                    font-size: 12px;
                    height: 16px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
    //iframe
    .game-iframe-wrap {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: $top-nav-height;
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}


/*
------------------------
我的
------------------------
*/

.han-page-user-wrap {
    &.has-step {
        padding-top: $game-nav-height;
    }
    //top-bar
    .user-top-fixed {
        height: $top-nav-height;
        z-index: 3;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        &.step {
            height: $game-nav-height;
        }
        .step-wrap {
            background: #fff;
            height: 38px;
            line-height: 38px;
            font-size: 14px;
            li {
                width: 50%;
                float: left;
                text-align: center;
                &.active {
                    color: $theme-color;
                }
                &:first-child {
                    position: relative;
                    &::after {
                        position: absolute;
                        right: -19px;
                        top: 0;
                        content: "";
                        display: block;
                        width: 38px;
                        height: 38px;
                        background: url(../images/user/arr_right2.png) no-repeat center;
                        background-size: auto 150%;
                        opacity: 0.3;
                    }
                }
            }
        }
    }
    //head
    .user-head {
        background: $top-nav-bgcolor;
        min-height: 70px;
        padding: 10px 0 0 100px;
        position: relative;
        .avatar {
            position: absolute;
            left: 20px;
            top: 0;
            width: 65px;
            height: 65px;
            border-radius: 50%;
        }
        .info {
            color: #fff;
            .name {
                font-size: 18px;
                font-weight: bold;
                height: 22px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-bottom: 5px;
            }
            .desc {
                font-size: 14px;
            }
        }
    }
    //title
    .user-title {
        position: relative;
        height: 20px;
        margin: 5px 0 15px;
        .i-line {
            display: inline-block;
            width: 30vw;
            height: 1px;
            background: $top-nav-bgcolor;
            position: absolute;
            left: 50%;
            top: 15px;
            transform: translate(-50%, 0)
        }
        .i-text {
            background: $bg-color;
            padding: 0 10px;
            z-index: 2;
            position: absolute;
            left: 50%;
            top: 3px;
            transform: translate(-50%, 0);
            font-size: 16px;
        }
    }
    //游戏列表
    .user-game-list {
        padding: 10px 0;
        li {
            &.game-item {
                float: left;
                width: 50vw;
                margin-bottom: 10px;
                .game-inner {
                    width: 92%;
                    margin: 0 auto;
                    background: #fff;
                    min-height: 140px;
                    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
                    border-radius: 6px;
                    text-align: center;
                    .img-cover {
                        height: 100px;
                        position: relative;
                        margin-bottom: 6px;
                        img {
                            width: 100%;
                            border-radius: 6px 6px 0 0;
                            height: 100%;
                        }
                        .name {
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background: rgba(0, 0, 0, .65);
                            height: 18px;
                            line-height: 18px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            padding: 6px 0;
                            font-size: 14px;
                            text-indent: 10px;
                            color: #fff;
                        }
                        .num {
                            position: absolute;
                            left: -5px;
                            top: 10px;
                            background: #6600cd;
                            color: #fff;
                            display: inline-block;
                            font-size: 12px;
                            padding: 0 15px 0 10px;
                            border-radius: 0 20px 20px 0;
                            &::after {
                                border: 5px solid transparent;
                                border-top-color: #333;
                                content: "";
                                width: 0;
                                height: 0;
                                position: absolute;
                                z-index: -1;
                                left: 0;
                                bottom: -10px;
                            }
                        }
                    }
                    .open {
                        display: inline-block;
                        @extend .common-open;
                        padding: 0 20px;
                    }
                }
            }
        }
    }
    //绑定手机
    .user-bind-mobile {
        width: 90vw;
        margin: 10px auto;
        .user-logo {
            text-align: center;
            padding: 30px 0 0;
            img {
                width: 90px;
                height: 90px;
                border-radius: 50%;
            }
        }
        .user-form {
            list-style: none;
            margin: 20px 0;
            padding: 30px 30px 10px;
            background: #fff;
            border-radius: 6px;
            li {
                margin-bottom: 20px;
                .inp {
                    font-size: 14px;
                    outline: none;
                    line-height: 25px;
                    border: none;
                    border-bottom: 1px solid #ededed;
                    width: 100%;
                    box-sizing: border-box;
                    padding-left: 30px;
                    @each $name in user,
                    mobile,
                    password,
                    mail {
                        &.#{$name} {
                            background: url(../images/login/#{$name}.png) no-repeat 0 center;
                            background-size: auto 16px;
                        }
                    }
                }
                .bind {
                    font-size: 14px;
                    .red {
                        color: #f00;
                    }
                }
                &.special {
                    position: relative;
                    .get-code {
                        outline: none;
                        position: absolute;
                        right: 0;
                        bottom: 5px;
                        border: 1px solid $top-nav-bgcolor;
                        color: $top-nav-bgcolor;
                        background: #fff;
                        border-radius: 30px;
                        line-height: 24px;
                        font-size: 12px;
                        padding: 0 10px;
                        &[disabled] {
                            border-color: #ddd;
                            color: #ccc;
                        }
                    }
                }
            }
        }
        .uk-button-primary {
            background: $top-nav-bgcolor;
            border-radius: 30px;
        }
    }
    //设置
    .user-setting-wrap {
        width: 95vw;
        margin: 10px auto 0;
        .user-list {
            background: #fff;
            border-radius: 6px;
            li {
                border-bottom: 1px solid #ededed;
                .link {
                    display: block;
                    line-height: 30px;
                    padding: 10px;
                    color: #333;
                    text-decoration: none;
                    position: relative;
                    font-size: 16px;
                    .icon {
                        display: inline-block;
                        width: 25px;
                        height: 20px;
                        vertical-align: middle;
                        @each $var in mobile,
                        psw,
                        rz {
                            &.#{$var} {
                                background: url(../images/user/#{$var}.png) no-repeat;
                                background-size: auto 90%;
                            }
                        }
                    }
                    &::after {
                        content: "";
                        display: block;
                        width: 20px;
                        height: 20px;
                        background: url(../images/user/arr_right.png) no-repeat;
                        background-size: auto 95%;
                        position: absolute;
                        right: 10px;
                        top: 35%;
                    }
                }
                &:last-child {
                    border: none;
                }
            }
        }
        .uk-button-primary {
            background: $top-nav-bgcolor;
            border-radius: 30px;
        }
    }
}